
{% extends 'app/base.html' %}
{% block content %}
<h2>Projects</h2>
<!-- Projects Section -->
<div class="col-md-4 mb-3" data-aos="zoom-in" data-aos-delay="100">
  <div class="card shadow-sm h-100">
    <div class="card-body">
      <h5 class="card-title">Maternity Care System</h5>
      <p class="card-text">Full-featured Django application with patient management and vaccine tracking.</p>
      <p>the pregnant lady is registered with before and after vaccines all process is handled .</p>
      <p>also for newborn baby</p>
    </div>
  </div>
</div>

<div class="col-md-4 mb-3" data-aos="zoom-in" data-aos-delay="200">
  <div class="card shadow-sm h-100">
    <div class="card-body">
      <h5 class="card-title">Food Bridge</h5>
      <p class="card-text">Dynamic dashboards for multiple roles and automated donation tracking.</p>
      <p>I have made platform which is first of all take details of donors like restaurants, event,etc whose food is remaining.</p>
      <p>And registers them with this and the all ready verified donors see this list and they can request them.</p>
      <p>and collect from them to handover needy people.</p>
    </div>
  </div>
</div>

<div class="col-md-4 mb-3" data-aos="zoom-in" data-aos-delay="300">
  <div class="card shadow-sm h-100">
    <div class="card-body">
      <h5 class="card-title">Other Python Projects</h5>
      <p class="card-text">Various scripts and web applications showcasing Python skills.</p>
    </div>
  </div>
</div>


{% endblock %}
