
{% extends 'app/base.html' %}
{% block content %}
<h2>Skills</h2>
<ul>
    <li>C </li>
    <li>Python </li>
    <li>Django </li>
    <li>Git GitHub Jira </li>
    <li>SQL, SQLITE, PostgreSQL</li>
    <li>HTML, CSS, JavaScript</li>
    <li>Bootstrap</li>
    <li>REST APIs</li>
    <li>libraries like NumPY. Pandas, Matplotlib, Seaborn,etc</li>
</ul>
<!-- Skills Section -->
<section id="skills" class="bg-light">
  <div class="container">
    <h2 class="text-center mb-4" data-aos="fade-up">Skills Progessbar</h2>
    <div class="row">
      <div class="col-md-6 mb-3" data-aos="fade-right">
        <h5>Python</h5>
        <div class="progress mb-3">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 95%">95%</div>
        </div>

        <h5>Django</h5>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" role="progressbar" style="width: 90%">90%</div>
        </div>

        <h5>HTML / CSS / JS</h5>
        <div class="progress mb-3">
          <div class="progress-bar bg-info" role="progressbar" style="width: 85%">85%</div>
        </div>

        <h5>Bootstrap</h5>
        <div class="progress mb-3">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 90%">90%</div>
        </div>
      </div>

      <div class="col-md-6 mb-3" data-aos="fade-left">
        <h5>REST APIs</h5>
        <div class="progress mb-3">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 85%">85%</div>
        </div>

        <h5>Git / GitHub</h5>
        <div class="progress mb-3">
          <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%">90%</div>
        </div>

        <h5>PostgreSQL / SQLite</h5>
        <div class="progress mb-3">
          <div class="progress-bar bg-dark" role="progressbar" style="width: 80%">80%</div>
        </div>

        <h5>Problem Solving</h5>
        <div class="progress mb-3">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 95%">95%</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
